# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Environment
.env
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp

# Ignore config files with secrets
config.yaml
